.Flag {
  background-color: rgb(255, 255, 218);
}

.Flag1 {
  background-color: yellow;
}

.Flag2 {
  background-color: rgb(255, 136, 0);
  color: white !important;
}

.header-text-ideal {
  color: #008dd3;
}
