@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

//using (var DB = new BloggingContext() { PrimaryStorageAccountName = "thingy" })
//{
//    var BLOG = new Blog();

//    BLOG.AuthorID = "123456789";
//    BLOG.BlogID = Guid.NewGuid().ToString();

//    DB.Blogs.Add(BLOG);

//    await DB.SaveChangesAsync();
//}

}

<p> Hello There!</p> 