<div
  *ngIf="loggedIn"
  style="
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    text-align: right;
    font-size: small;
    background: url('../assets/header-gradient.png') center repeat-x;
    background-size: auto 100%;
    color: white;
    padding: 5px;
  "
>

  <a href="" style="color: white; text-decoration: none;" (click)="SignOut()"> Logout   {{ user.displayName || user.email.replace('@tradestation.com','') }} </a>
</div>

<app-kanban *ngIf="loggedIn"></app-kanban>

<div *ngIf="!loggedIn" class="center-center">
  <app-login></app-login>
</div>
